/* MASTER GRID */
.masterGrid {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
}
/* GRID ONE */
.gridOne {
  display: block;
  padding: 30px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}
.gridTitle2 {
  font-size: 40px;
}
.gridContent {
  font-size: 20px;
}
/* GRID TWO */
.gridTwo {
    background-color: #20253e;
    border-radius: 16px;
    padding: 25px;
    margin-left: 10px;
    margin-right: 40px;
    border: 1px solid #243047;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3);
}
.analytics {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  margin: 0px 30px;
}

.gridTitle {
  text-align: center;
  padding: 10px;
  font-size: 30px;
}
/* ANALYTICS CARDS */
.summaryCards {
  display: block;
  background-color: #273F4F;
  border-radius: 10px;
  padding: 30px 30px;
  text-align: center;
  color: #acbac4;
  font-family: Lexend Deca;
  transition: 0.4s ease;
}
.summaryCards:hover {
   transform: translateY(-6px);
   box-shadow: 0 15px 30px rgba(0,0,0,0.15);
}
/* PROGRESS BARS */
.progressSection {
    margin-top: 50px;
}
.progressLabel {
    font-family: Amatic SC;
    font-size: 30px;
}
.progressBar {
    background-color: #394263;
    border-radius: 12px;
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}

.progressFill {
    height: 100%;
    background-color: #FF6B00;
    border-radius: 12px 0 0 12px;
    transition: width 0.5s ease;
}
/* CARD FORMATTING */
.cardTitle {
  font-size: 17px;
  color: #EFEEEA;
}
.cardDesc {
  margin: 4px;
  font-size: 25px;
  color: #ff6b00;
}
